.filter-list-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.car-list-container {
    margin: auto !important;
    width: 40%;
    min-width: 540px;
    max-width: 760px;
}

.car-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    padding: 10px;
}

.car-list {
    width: 100%;
    //min-width: 540px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.car-element {
    display: flex;
    flex-direction: column;
    min-width: 240px;
    padding-left: 20px;
    width: 60%;
}

.auto-img {
    height: 160px;
    width: 240px;
}

.carPriceUSD {
    font-size: 17pt;
    color: green;
}

.carPriceUAH {
    font-size: 12pt;
    color: grey;
}

.icon {
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.car-name h2 {
    font-size: 16pt;
    color: #256799;
    margin: 0px;
}

.info-container, .car-name {
    display: -webkit-box;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
    padding: 2px;
}

.car-name {
    height: auto;
    min-height: 30px;
}

.price-block, .car-info, .info-item {
    margin: auto 0;
}

.price-block p {
    display: inline;
}

.info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12pt;
    width: 50%;
}

.filter {
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 20px;
}