.order-list {
    display: flex;
  }
  
.tabs {
    height: auto;
}

.list-container {
    max-width: 600px;
    min-width: 450px;
    margin: auto;
}
  
.list-card {
    display: flex;
    margin: 0.7em;
    padding: 0.7em;
    >img {
      object-fit: cover;
      max-width: 144px;
      min-width: 144px;
      height: 108px;
      margin-right: 0.2em;
    }
    >div {
      margin: 0.8em;
    }
}
.content {
  width: 100%;
}

.customer-header-image {
    background-size: cover;
}
 
.car-name {
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70%;
}

.car-name h4 {
  font-size: 14pt;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.header-status {
  color: grey;
}

.publish-date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}