<div class="component-container">
  <mat-tab-group class="tabs">
    <mat-tab label="My Created Orders">
      <div>
        <button mat-raised-button *ngIf="!enabledCreatedOrders" color="primary" class="nav-button" [routerLink]="['/car-list']">Create New Order</button>
        <div class="list-container">
          <div *ngFor="let order of createdOrders">
            <app-profile-order-card [order]="order"></app-profile-order-card>
          </div>
        </div>
      </div>
      <mat-spinner *ngIf="loadingCreated" class="spinner"></mat-spinner>
    </mat-tab>

    <mat-tab label="My Applied Orders" [disabled]="!isMechanic">
      <button mat-raised-button *ngIf="!enabledAppliedOrders"  color="primary" class="nav-button" [routerLink]="['']">Find Order</button>
      <div>
        <div class="list-container">
          <div *ngFor="let order of appliedOrders">
            <app-profile-order-card [order]="order"></app-profile-order-card>
          </div>
        </div>
      </div>
      <mat-spinner *ngIf="loadingApplied" class="spinner"></mat-spinner>
    </mat-tab>
  </mat-tab-group>
</div>