<div *ngIf="detailCarById">
  <div class="car-container">
      <mat-card class="cardetail-card">
        <img mat-card-image src="{{detailCarById.photoLink}}">
        <mat-card-actions>
          <button mat-button>
            <div class="car-favorite">
              <h2>+ Add to favorites</h2>
            </div>
          </button>
        </mat-card-actions>
      </mat-card>

    <div class="infoo-car">
      <div class="info-container">
        <div class="car-name"> 
          <h2>{{detailCarById.markName}} {{detailCarById.modelName}} {{detailCarById.year}}</h2>
        </div>
      </div>

      <div class="price-block">
        <span class="carPriceUSD">
          {{detailCarById.priceUSD}}$ 
        </span> /
        <span class="carPriceUAH">
           {{detailCarById.priceUAH}}₴
        </span>
      </div>
     
      <div class="info-container">
        <div class="info-item">
          <img src="../assets/icons-sedan.png" class="icon" />
          <p>{{detailCarById.race}}</p>
        </div>
        <div class="info-item">
          <img src="../assets/icons-gearbox.png" class="iconGear" />
          <p>{{detailCarById.gearBoxName}}</p>
        </div>
      </div>

      <div class="info-container">
        <div class="info-item">
          <img src="../assets/icons-engine.png" class="icon" />
          <p>{{detailCarById.fuelName}}</p>
        </div>
        <div class="info-item">
          <img src="../assets/icons-place-marker.png" class="icon" />
          <p>{{detailCarById.city}}</p>
        </div>
      </div>
    
    </div>
  </div>
</div>



