.example-container {
    display: flex;
    flex-direction: column;
    padding: 18px;
  }
  .buttons-container{
    padding: 10px;
  }
  .order-list {
    display: flex;
  }
  .order-card {
    display: flex;
    margin: 0.4em;
    padding: 0.4em;
    >img {
      object-fit: cover;
      min-width: 144px;
      min-height: 108px;
      width: 144px;
      height: 108px;
      margin-right: 0.2em;
    }
    >div {
      margin: 0.8em;
      overflow: hidden;
      width: 100%;
    }
  }
  
  .customer-header-image {
    background-size: cover;
  }
  
  ::ng-deep .mat-card-header-text {
    overflow: hidden;
  }
  
  .order-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .order-card-content {
    margin-bottom: 0px;
  }