.registration-main {
  display: flex;
  justify-content: center;
}

.registration-card {
  min-width: 400px;
  max-width: 400px;
}

.registration-card-title {
  >p {
    font-size: 1.8em;
  }
}

.registration-card-content {
  padding-top: 1.2em;
  margin-bottom: 0.1em;
}

.registration-form {
  max-width: 400px;
  width: 100%;
}

.registration-form-field {
  width: 100%;
}

.mat-card>.mat-card-actions:last-child {
  margin-bottom: -8px;
}

.registration-actions {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}
