<div class="component-container">
  <div class="profile-container">
    <div class="image-container">
      <img *ngIf="!loading" src="{{user.avatar | userPhoto}}" class="avatar">
      <div>
        <!-- <input type="file" ng2FileSelect [uploader]="uploader"/>
        <button type="button" (click)="uploadAvatar()">Upload</button> -->

        <button (click)="fileInput.click()">
          <mat-icon>library_add</mat-icon>
          <span>Select</span>
          <input #fileInput type="file" (change)="uploadAvatar()" style="display:none;" ng2FileSelect [uploader]="uploader"/>
        </button>
      </div>
    </div>
    <div class="information-container">
      <div *ngFor="let property of userInfo" class="properties">
        <div class="item-container">
          <div class="item">
            <span>{{property.name}}: </span>
          </div>
          <div class="item">
            <span>{{property.value}}</span>
          </div>
        </div>
        <mat-divider></mat-divider>
      </div>
      <button mat-raised-button *ngIf="!loading" color="primary" class="edit-button" [routerLink]="['edit-profile']">Edit Profile Information</button>
    </div>
  </div>
  <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
</div>