$avatar-width: 200px;
$profile-container-min-width: 420px;
$profile-container-origin-width: 700px;

.profile-container {
    margin: auto;
    padding: 15px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.information-container {
    padding: 10px;
    width: 100%;
}

.properties {
    width: auto;
}

.avatar {
    width: $avatar-width;
    height: auto;
}

.item-container {
    display: flex;
    flex-direction: row;
}

.item {
    width: 50%;
    padding: 20px;
    font-size: 14pt;
}

@media screen and (min-width: 720px) {
    .profile-container {
        display: flex;
        flex-direction: row;
        width: $profile-container-origin-width;
    }

    .information-container {
        margin-left: 40px;
    }
}

@media screen and (max-width: 720px) {
    .profile-container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .information-container {
        min-width: $profile-container-min-width;
    }

    .image-container {
        margin: auto;
    }
}

