.tabs {
    height: auto;
    margin: auto;
    max-width: 800px;
}

.list-container {
    max-width: 600px;
    min-width: 450px;
    margin: auto;
}

.spinner {
    margin: auto;
}

.null-reviews {
    display: block;
    margin: auto;
    margin-top: 15px;
    width: 200px;
}