<footer class="main">
  <div class="col">
      <mat-list>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
      </mat-list>
  </div>
  <div class="col">
      <mat-list>
          <mat-list-item>Current Version: 1.0.0</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
      </mat-list>
  </div>
  <div class="col">
      <mat-list>
          <mat-list-item>Powered by © 2014-2018 RIA.com. Усі права захищені
           </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>https://auto.ria.com/uk/ © AUTO.RIA.com™</mat-list-item>
      </mat-list>
  </div>
</footer>