<footer class="main">
    <mat-list>
        <mat-list-item>Car Service ©</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>https://car.service.com/</mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>Current Version: 1.0.0</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>All rights reserved, 2018</mat-list-item>
    </mat-list>
    <mat-list>
        <mat-list-item>Powered by AUTO.RIA.com™ 2014-2018
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>https://auto.ria.com/uk/</mat-list-item>
    </mat-list>
</footer>