<div class="footer">
  <div class="col">
      <mat-list>
          <mat-list-item>Item 2</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
      </mat-list>
  </div>
  <div class="col">
      <mat-list>
          <mat-list-item>Current Version: 1.0.0</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
      </mat-list>
  </div>
  <div class="col">
      <mat-list>
          <mat-list-item>Powered by Google ©2010-2018</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item>Item 3</mat-list-item>
      </mat-list>
  </div>
</div>