<mat-card class="container">
  <mat-card-title>How to use Car Service</mat-card-title>
  <p>Suspendisse potenti. Quisque aliquam, lacus et iaculis pharetra, augue felis sagittis lorem, at rhoncus dui mi in metus.
    In vestibulum magna magna, vitae tincidunt turpis venenatis id. Etiam accumsan, velit vitae vulputate tincidunt, dolor
    ipsum fringilla risus, vel facilisis lorem mauris non dolor.</p>
  <br>
  <mat-divider [inset]="true"></mat-divider>
  <br>
  <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus tincidunt finibus condimentum. Suspendisse elit
    lectus, consequat quis porta ut, mattis et massa. Pellentesque blandit neque et tellus laoreet, a tempus urna commodo.</p>
</mat-card>