.container {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 auto;
  }
  
  .card {
    max-width: 400px;
  }

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


