.order-list {
  display: flex;
}

.order-list-container {
  max-width: 500px;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
}

.order-list-card {
  display: flex;
  margin: 0.7em;
  padding: 0.7em;
  >img {
    width: 144px;
    height: 108px;
    margin-right: 0.2em;
  }
  >div {
    margin: 0.8em;
  }
}

.customer-header-image {
  background-size: cover;
}

.order-list-header-text {
  width: 228px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.order-list-card-content {
  margin-bottom: 0px;
  >h2 {
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.google-map {
  width: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
