.order-list {
  display: flex;
}

.order-container {
  min-width: 320px;
  width: 30%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.google-map {
  width: 70%;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
