<mat-card class="container">
  <form [formGroup]="myFilterForm" novalidate>
  <mat-form-field>
    <mat-select placeholder="Type">
      <mat-option (click)="onTypeChosen(type.value)" *ngFor="let type of types" [value]="type.value">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick a make" aria-label="Number" matInput  formControlName="make" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" (click)="onMakeChosen()" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick a model" aria-label="Number" matInput  formControlName="model" [matAutocomplete]="autoModel">
      <mat-autocomplete #autoModel="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredModelOptions | async" (click)="onModelChosen()" [value]="option">
          {{ option.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>
</mat-card>