<mat-card class="container">
  <mat-form-field>
    <mat-select placeholder="Type">
      <mat-option (click)="populate(type.value)" *ngFor="let type of types" [value]="type.value">
        {{ type.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" (click)="makeChosen()" [value]="option">
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  
</mat-card>