<mat-card class="list-card">
  <img src="{{order.photoLink}}">
  <div class="content">
    <div class="header-container">
      <h4>
        Order № {{order.orderId}}
      </h4>
      <h4 class="header-status">
        Status: {{order.status}}
      </h4>
    </div>
    <div class="car-name">
      <h4>{{order.markName}} {{order.modelName}} {{order.year}}</h4>
    </div>
    <div class="publish-date">
      <h4 class="header-status">
        {{order.date}}
      </h4>
    </div>
  </div>
</mat-card>