.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    background: rgba(255, 0, 0, 0.5);
  }
  