<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="true" class="example-sidenav"
  [fixedInViewport]=true [fixedTopGap]=120
  [fixedBottomGap]=220>
    <div>
      <button mat-button disabled>
        <mat-icon>star_border</mat-icon>
        <span>Favourites</span>
      </button>
      <button mat-button disabled>
        <mat-icon>work</mat-icon>
        <span>Orders</span>
      </button>
      <button mat-button disabled>
        <mat-icon>assignment</mat-icon>
        <span>Reviews</span>
      </button>
      <button mat-button disabled>
        <mat-icon>comment</mat-icon>
        <span>Invitations</span>
      </button>
      <button mat-button [routerLink]="['/personalAccount', {outlets: { personalAccountOutlet: ['profile'] } }]">
        <mat-icon>person</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-button disabled>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet name="personalAccountOutlet"></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
