.example-container {
    height: 100%;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }
  
  .mat-drawer-container {
    background-color: white;
}

.content-container {
  min-height: 700px;
}